notes.txt
16_*.sh
17_*.sh
18_*.sh
19_*.sh
20*.sh
21_*.sh
sams_bwa
sortedbams
unused
broad_hg38_fasta_fai_dict
broad_known_sites1
broad_known_sites2
broad_known_sites3
broad_known_sites4B
broad_known_sites5B
option2
